*{
    margin: 0; padding: 0;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}

.titulo{
    background-image:   linear-gradient(180deg,#455475,#324268,#586486,#bcc3d4);
    justify-content: space-between;
    display: flex;
    padding-bottom: 8px;
    text-shadow: 0px 0px 5px rgb(31, 31, 68);

    
}
.box-titulo{
    margin-left: 100px;
    margin-top: 5px;
    color: rgb(255, 255, 255);
    font-size: 10%;
    font-family: 'Faster One';

}


.box-menu{ 
    margin-top: 10px;
    color: rgb(255, 255, 255);
    
}

.titulo-mod{
    display: flex;
    margin: 1px 60px 0px 60px ;
    color: white;
    font-size: 10px;
}

.menu-titulo{
    list-style: none;
    display: flex;
}

.titulo>div>ul{
    margin-top: 5px;
}
.menu-titulo-informacao{
    padding: 4px;
    margin: 5px;
    font-size: 15px;
    color: white;
    text-shadow: 0px 0px 5px blue;
    text-decoration: none;

}

.menu-titulo-informacao:hover{
    color: rgb(151, 161, 218);

}

.menu{
    display: flex;
    justify-content: center;
    text-align: center;   
    background-color: rgb(237, 235, 241);
}
.menu>div>ul{
    list-style: none;
    display: flex;
    margin-bottom: 15px;
}



.menu-link{
    margin-left: 5%;
    padding: 10px;
    padding-bottom: 15px;
    padding-left: 50px; 
    padding-right: 50px; 
    color: rgb(70, 68, 68);
    text-decoration: none;
    font-size: 18px;
    text-shadow: 0px 0px 5px white;
   
}

.menu-link:hover{
  background-color: rgb(184, 184, 212);
}

.menu>div>ul>li:hover ul{
    display: block;

}


@media(max-width:1000px){

    .box-menu{
        width: 100%;
    }
    .menu{
        justify-content: left;
        display:flex;
        text-align: left;   
        
    }
    .menu>div>ul{
        width: 100%;

        display: block;
        list-style: none;
        margin-bottom: 15px;

    }

    .box-menu ul li{
        width: 100%;
        border-bottom: 1px solid white;


    }
  
    .menu-link{
    margin-left:0;
    padding-top: 8px;
    padding-bottom: 0;
    padding-left: 10%; 
    padding-right: 78%; 
    color: rgb(70, 68, 68);
    text-decoration: none;

       
    }
    .menu>div>ul>li{
        margin-bottom: 5px;
    }
    .menu-link:hover{
      background-color: rgb(184, 184, 212);
    }
    
    .menu>div>ul>li:hover ul{
        display: block;
    
    }

        
       
        
}   