*{
    font-family: 'K2D';

    margin: 0;
    padding: 0;    
}
.titulo-contato{
    border-top: 1px solid rgb(196, 196, 219);
    border-bottom: 1px solid rgb(196, 196, 219);
    position: relative;
    margin-bottom: 20px;
    color: rgb(6, 6, 73);
}

.titulo-contato h1{
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(196, 196, 219);

    padding-top: 30px; 
    padding-left: 10%;

}
.titulo-contato h2, p{
    margin-bottom: 10px;
    padding-left: 10%;

}
.formulario{
    width: 68%;
    height: 30%;
    margin: 0 auto 0 auto;
    margin-bottom: 30px;
    

}

.formulario h2{
    font-size: 20px;
    padding-top: 15px; 
    padding-left: 10%;
    padding-bottom: 15px;
    color: rgb(6, 6, 73);

}

.formulario div label, input, textarea{
    display:flex;
    margin-left: 20px;
}


.formulario input{
    border: none;
    border: 1px solid rgb(167, 166, 166);
}

.formulario label{
    font-size: 18px;
}

.nome-pessoa input{
    height: 30px;
    width: 500px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.telefone-pessoa input{
    height: 30px;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.email-pessoa input{
    height: 30px;
    width: 500px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.nome-empresa input{
    height: 30px;
    width: 500px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.cpf-cnpj input{
    height: 30px;
    width: 500px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.opcao-estado select {
    margin-left: 20px;
    height: 40px;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 20px;
}


.local input{
    height: 30px;
    width: 500px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.hora-atendimento{
    display: flex;
}

.hora-atendimento input{
    height: 23px;
    width: 20px;
}

.botao{ 
    padding-top: 20px; 
    display: flex;  
    
}

.formulario textarea{
    height: 120px;
    width: 600px;
}

.botao div input{
    font-size: 15px;
    padding-left: 30px;
    height: 35px;
    width: 115px;
}
