
.titulo-conteudo{
    padding-bottom: 40px; 
    position: relative;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-top: 30px;
    width: 100%;
    height: 10%;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    border-top: 1px solid rgb(196, 196, 219);
    
}
.titulo-conteudo>h1{
    margin: 0 auto;
    
}

.conteudo-one, .conteudo-two{
    width: 100%;
    height: 10%;
    margin-bottom: 30px; 
    display: flex;

}
.conteudo-one{
    background-image: linear-gradient(160deg,#86a7e1,#88aae0,#8baede,#8fb1dd,#93b4db,#97b7d9,#9cb9d8,#a1bcd6);
    padding-top: 30px;
    padding-bottom: 40px;
}
.titulo-conteudo-one{
    margin-left: 400px; 
    width: 10%;
    height: 10%;
    text-align: center;
   
}

.descricao-conteudo-one{ 
    width: 40%;
    margin-left: 15%;
    text-align: center;
}   

.conteudo-two{
    background-image: linear-gradient(160deg,#86a7e1,#88aae0,#8baede,#8fb1dd,#93b4db,#97b7d9,#9cb9d8,#a1bcd6);
    padding-top: 30px;
    padding-bottom: 40px;
}

.titulo-conteudo-two{
    margin-left: 400px; 
    width: 10%;
    height: 10%;
    text-align: center;
   
}
.descricao-conteudo-two{
    width: 40%;
    margin-left: 15%;
    text-align: center;
}