*{
    margin: 0; padding: 0;
    
}
.one-page{
    background-color: rgb(237, 235, 241);

}


.links{
    width: 91%;
    height: 50px;
    display: flex;
    margin: 0 auto 0 auto;
    background-color: rgb(194, 188, 207);


}

.links>label{
    padding: 10px 0;
    flex-grow: 1;
    cursor: pointer;
    transition: all .4s;
    text-align: center;
    font-family: Arial;
    font-size: 100%;
    color: black;
    border: 1px black solid;

}

.links > label:hover{
    background-color: rgb(131, 141, 233);
}

.scroll input{
    display: none;
}

#solucoes:checked ~ .sessao{
    margin-top: 0vh;
}
#funcionalidades:checked ~ .sessao{
    margin-top: -50vh;
}
#vantagens:checked ~ .sessao{
    margin-top: -100vh;
}

.bloco{
    width: 89vw;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;

}

.bloco > table{
    width: 100% ;
    text-align: center;
    margin-top: 30px; 
    border-collapse: collapse;
}
.bloco  table th{
   background-color: rgb(45, 50, 88);
   color: white;
}
.bloco  table th, td{
    padding: 10px;
    border: 1px solid #222222;
}

.box-funcionalidade{
    justify-content: space-between;
    width: 20vw;
    height: 80%;
    margin: 0 auto 0 auto;
    margin-top: 30px; 
    text-align: center;
    border: 2px rgb(162, 162, 201) solid;
}
.box-funcionalidade h2{
    margin-top:20px;
    padding-bottom: 30px;
    color: rgb(13, 95, 13);
    border-bottom: 1px rgb(162, 162, 201) solid;
    font-size: 25px;
}
.box-funcionalidade p{
    font-size: 18px;
    margin-top:20px;
    color: rgb(17, 25, 97);
}

#vantagem{
    height: 100%;
    left: 100%;
    display: flex;
    justify-content: center;

}
.titulo-vantagem, .itens-vantagem{
    width: 40%;
    height: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid rgb(15, 94, 15);
    margin-top: 20px;
}

.titulo-vantagem h2{
    font-size: 30px;
    color: rgb(17, 25, 97);
}

.itens-vantagem ul{
    list-style: none;
}

.itens-vantagem ul li{
    font-size: 25px;
    padding: 5px;
    border-bottom: 1px solid rgb(22, 22, 124); 
}
.scroll{
    display: flex;
    width: 90vw;
    height: 50vh;
    overflow: hidden;  
    margin: 0 auto 0 auto;


}
.sessao{
    transition: all .4s;
    
}
