

.rodape{
    background-image:  linear-gradient(180deg,#455475,#324268,#374b7d,#5572b7);
    color: white;
    padding-top: 10px;
    padding-bottom: 50px;
}

.texto-rodape{
    padding-bottom: 7px;
}